.ghvhgv {

    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
column-gap: 3rem;
row-gap: 4rem;
overflow-x: auto;
scroll-behavior: smooth;
max-width: 75vw;
}